*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: rgb(236, 236, 236);
    background: rgb(32, 32, 32);
}
header span{
    color: orange;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: rgb(236, 236, 236);
}
main .logReg{
    margin: 0 0 15px;
    color: rgb(236, 236, 236);
    font-size: 20px;
}
main form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 360px;
    padding: 45px;
    background: rgb(32, 32, 32);
}
main form input{
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}
main form button{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    color: rgb(236, 236, 236);
    background: orange;
}
main form button:hover{
    background: green;
}
main form p{
    margin: 15px 0 0;
    color: rgb(236, 236, 236);
    font-size: 14px;
}
main form p a{
    color: orange;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: rgb(236, 236, 236);
    background: rgb(32, 32, 32);
}
